force-app/main/default/flows/Revenda_de_Veiculos_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Consulta em uma classe apex o preço de referência FIPE</description>
        <name>GetCarDetailsByFipeCode</name>
        <label>Get Car Details By FipeCode</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CarServiceV2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>HasErrorInGetCarDetailsByFipeCode</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fipeCode</name>
            <value>
                <elementReference>ProductsTable.firstSelectedRow.FipeCode__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>modelYear</name>
            <value>
                <elementReference>ProductsTable.firstSelectedRow.ModelYear__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CarServiceV2</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Busca valor do financiamento.</description>
        <name>GetFinancingDetails</name>
        <label>Get Financing Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FinanciamentoAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>formalProposalFinancingScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>downPayment</name>
            <value>
                <elementReference>DownPaymentInput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>months</name>
            <value>
                <elementReference>financingTermMonthsNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>proposedPrice</name>
            <value>
                <elementReference>proposedValueCurrencyInput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FinanciamentoAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Atribuindo os valores para o objeto de oportunidade e para o objeto OpportunityVehicle</description>
        <name>AssignFinalValuesToOpportunityAndVehicleInCashScreen</name>
        <label>Assign Final Values To Opportunity And Vehicle In Cash Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.PaymentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>À Vista</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>discountedPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityVehicle.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscountInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityVehicle.AllowFieldsUpdateBypass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.AllowFieldsUpdateBypass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpportunityVehicleDiscount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignFinalValuesToOpportunityRecord</name>
        <label>Assign Final Values To Opportunity Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.PaymentType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_de_Pagamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalPriceWithDownPayment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.DownPayment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DownPaymentInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.FinancingTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financingTermInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.AllowFieldsUpdateBypass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_decision_on_the_proposal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOpportunityClosedLost</name>
        <label>Assign Opportunity Closed Lost</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Final_Values_From_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOpportunityClosedWon</name>
        <label>Assign Opportunity Closed Won</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Final_Values_From_Opportunity_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atribui a variável da oportunidade o stage da oportunidade para Seleção de Veículo</description>
        <name>AssignStageToAvaliacaoDePreco</name>
        <label>Assign Stage To Avaliacao De Preco</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Avaliação de Preço</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.AllowFieldsUpdateBypass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOppStageToAvaliacaoDePreco</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atribui o próximo stage para o opportunityRecord</description>
        <name>assignStageToSelecaoDeVeiculo</name>
        <label>Assign Stage To Selecao De Veiculo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seleção de Veículo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.AllowFieldsUpdateBypass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOppStageToSelecaoDeVeiculo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesFromDefinicaoFinanceira</name>
        <label>Assign Values From Definicao Financeira</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposta Formal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.AllowFieldsUpdateBypass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOppStageToPropostaFormal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Atribui os valores da etapa.</description>
        <name>AssignValueToNewVehicleAndStage</name>
        <label>Assign Value To New Vehicle And Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>opportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Definição Financeira</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityVehicle.FipeReferencePrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fipeValueCurrencyInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityVehicle.ProposedSalePrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>proposedValueCurrencyInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityVehicle.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductsTable.firstSelectedRow.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityVehicle.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityVehicle.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityVehicleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityRecord.AllowFieldsUpdateBypass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newOpportunityVehicle.AllowFieldsUpdateBypass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOppStageToDefinicaoFinanceira</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Valor Choice para proposta aceita.</description>
        <name>ProposalAccepted</name>
        <choiceText>Aceito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ProposalAccepted</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice para proposta não aceita</description>
        <name>ProposalRejected</name>
        <choiceText>Não Aceito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ProposalRejected</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Final_decision_on_the_proposal</name>
        <label>Final decision on the proposal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>AssignOpportunityClosedLost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Proposal Rejected</defaultConnectorLabel>
        <rules>
            <name>ProposalAcceptedOutcome</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AceitarPropostaInCash</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProposalAccepted</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Aceitar_Proposta</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProposalAccepted</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOpportunityClosedWon</targetReference>
            </connector>
            <label>Proposal Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verifica se o apex action retornou a informação com sucesso.</description>
        <name>HasErrorInGetCarDetailsByFipeCode</name>
        <label>Has Error In Get Car Details By FipeCode?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>priceEvaluation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>notSuccess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCarDetailsByFipeCode.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_In_Get_Car_Details_Screen</targetReference>
            </connector>
            <label>Not Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Payment_Type</name>
        <label>How Payment Type?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>formalProposalCashPaymentScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>À vista</defaultConnectorLabel>
        <rules>
            <name>FinancingOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tipo_de_Pagamento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financiamento</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetFinancingDetails</targetReference>
            </connector>
            <label>Financing</label>
        </rules>
    </decisions>
    <description>Versão com Bypass a cada transação</description>
    <dynamicChoiceSets>
        <name>OpportunityFinancingTermChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FinancingTerm__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OpportunityPaymentTypeChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentType__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Valor final com desconto. Elegível apenas para pagamentos a vista.</description>
        <name>discountedPrice</name>
        <dataType>Currency</dataType>
        <expression>{!proposedValueCurrencyInput} - ({!proposedValueCurrencyInput} * {!DiscountInput}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Transforma o valor do input Prazo de Financimanto (meses) que vem em String em Number.</description>
        <name>financingTermMonthsNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!financingTermInput})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Calculo de desconto elegível. O valor proposto com desconto não pode ser menor que o valor minimo de venda.</description>
        <name>isDiscountEligible</name>
        <dataType>Boolean</dataType>
        <expression>({!proposedValueCurrencyInput} - ({!proposedValueCurrencyInput} * {!DiscountInput} / 100)) &gt;= {!proposedSalePriceMinimum}</expression>
    </formulas>
    <formulas>
        <description>Variável que armazena o valor mínimo de entrada. O calculo base é 30% do valor proposto.</description>
        <name>minimumDownPayment</name>
        <dataType>Currency</dataType>
        <expression>{!proposedValueCurrencyInput} * 0.30</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculo de valor proposto de venda padrão. O calculo é o valor de referência FIPE + 12%</description>
        <name>proposedSalePriceDefault</name>
        <dataType>Number</dataType>
        <expression>{!GetCarDetailsByFipeCode.fipeReferencePrice} + ({!GetCarDetailsByFipeCode.fipeReferencePrice} * 12/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Valor minimo que o campo de &quot;Valor Proposto&quot; deve considerar para fazer a validação.</description>
        <name>proposedSalePriceMinimum</name>
        <dataType>Currency</dataType>
        <expression>{!GetCarDetailsByFipeCode.fipeReferencePrice} * 1.05</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Valor financiado + valor da entrada = valor total</description>
        <name>totalPriceWithDownPayment</name>
        <dataType>Currency</dataType>
        <expression>{!GetFinancingDetails.totalFinancedValue} + {!DownPaymentInput}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Revenda de Veiculos Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fluxo de Revenda de Veiculos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>UpsertOpportunityVehicle</name>
        <label>Upsert Opportunity Vehicle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateFieldBypassAfterUpdateOppVehicle</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <inputReference>newOpportunityVehicle</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Busca todos produtos em que o Código fipe seja diferente de nulo.</description>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VehicleSelectionScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FipeCode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stock__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Faz uma busca no produto selecionado pelo usuário atrelado a oportunidade, para verificar se já existe um OpportunityVehicle com esse mesmo produto, atrelado a oportunidade.</description>
        <name>GetExistingOpportunityVehicle</name>
        <label>Get Existing Opportunity Vehicle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignValueToNewVehicleAndStage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductsTable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityVehicle__c</object>
        <outputReference>newOpportunityVehicle</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Busca a oportunidade através do recordId.</description>
        <name>getOpportunityByRecordId</name>
        <label>get Opportunity By RecordId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProspectingScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunityRecord</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Atualiza o valor do bypass para falso novamente após atualizar a oportunidade.</description>
        <name>FinalUpdateOpportunityFieldBypassToFalse</name>
        <label>Final Update Opportunity Field Bypass To False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowFieldsUpdateBypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Atualiza o valor do bypass para falso novamente após atualizar o stagename da oportunidade.</description>
        <name>ReturnFieldBypassToFalse</name>
        <label>Return Field Bypass To False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowFieldsUpdateBypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_Values_From_Opportunity_Record</name>
        <label>Update Final Values From Opportunity Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FinalUpdateOpportunityFieldBypassToFalse</targetReference>
        </connector>
        <inputReference>opportunityRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Atualiza o valor do bypass para falso novamente após atualizar o discount do veiculo da oportunidade.</description>
        <name>UpdateFieldBypassAfterUpdateDiscount</name>
        <label>Update Field Bypass After Update Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Final_decision_on_the_proposal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newOpportunityVehicle.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowFieldsUpdateBypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityVehicle__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Atualiza o valor do bypass para falso novamente após atualizar o stagename da oportunidade.</description>
        <name>UpdateFieldBypassAfterUpdateOppVehicle</name>
        <label>Update Field Bypass After Update Opp Vehicle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>financialDefinitionScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newOpportunityVehicle.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowFieldsUpdateBypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>OpportunityVehicle__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Atualiza o valor do bypass para falso novamente após atualizar o stagename da oportunidade.</description>
        <name>UpdateFieldBypassAfterUpdateToAvaliacaoDePreco</name>
        <label>Update Field Bypass After Update To Avaliacao De Preco</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCarDetailsByFipeCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowFieldsUpdateBypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Atualiza o valor do bypass para falso novamente após atualizar o stagename da oportunidade.</description>
        <name>UpdateFieldBypassAfterUpdateToDefinicaoFinanceira</name>
        <label>Update Field Bypass After Update To Definicao Financeira</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpsertOpportunityVehicle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowFieldsUpdateBypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Atualiza o valor do bypass para falso novamente após atualizar o stagename da oportunidade.</description>
        <name>UpdateFieldBypassAfterUpdateToPropostaFormal</name>
        <label>Update Field Bypass After Update To Proposta Formal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>How_Payment_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AllowFieldsUpdateBypass__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunityVehicleDiscount</name>
        <label>Update Opportunity Vehicle Discount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateFieldBypassAfterUpdateDiscount</targetReference>
        </connector>
        <inputReference>newOpportunityVehicle</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Atualiza o opportunityRecord com os valores que foram ajustados no assignment</description>
        <name>UpdateOppStageToAvaliacaoDePreco</name>
        <label>Update Opp Stage To Avaliacao De Preco</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateFieldBypassAfterUpdateToAvaliacaoDePreco</targetReference>
        </connector>
        <inputReference>opportunityRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOppStageToDefinicaoFinanceira</name>
        <label>Update Opp Stage To Definicao Financeira</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateFieldBypassAfterUpdateToDefinicaoFinanceira</targetReference>
        </connector>
        <inputReference>opportunityRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOppStageToPropostaFormal</name>
        <label>Update Opp Stage To Proposta Formal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateFieldBypassAfterUpdateToPropostaFormal</targetReference>
        </connector>
        <inputReference>opportunityRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Atualizar o stage da oportunidade para Seleção de Veículo</description>
        <name>UpdateOppStageToSelecaoDeVeiculo</name>
        <label>Update Opp Stage To Selecao De Veiculo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ReturnFieldBypassToFalse</targetReference>
        </connector>
        <inputReference>opportunityRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_In_Get_Car_Details_Screen</name>
        <label>Error In Get Car Details Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Voltar</backButtonLabel>
        <connector>
            <targetReference>priceEvaluation</targetReference>
        </connector>
        <fields>
            <name>ErrorInGetCarDetailsTitleText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Não foi possível prosseguir com a avaliação de preço&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ErrorInGetCarDetailsText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Ocorreu um erro ao tentar consultar as informações de preço detalhadas do carro escolhido. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Detalhes: {!GetCarDetailsByFipeCode.errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>priceEvaluationStage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>financialDefinitionScreen</name>
        <label>Definição Financeira</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignValuesFromDefinicaoFinanceira</targetReference>
        </connector>
        <fields>
            <name>Tipo_de_Pagamento</name>
            <choiceReferences>OpportunityPaymentTypeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Pagamento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>financedSection</name>
            <fieldText>Financiamento</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>financedSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DownPaymentInput</name>
                    <dataType>Currency</dataType>
                    <fieldText>Entrada</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;O valor da entrada deve ser no mínimo {!minimumDownPayment} (30% do valor proposto).&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!DownPaymentInput} &gt;={!minimumDownPayment}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>financingTermInput</name>
                    <choiceReferences>OpportunityFinancingTermChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Prazo do Financimento (meses)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Pagamento</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Financiamento</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>inCashInformationSection</name>
            <fieldText>Informações à vista</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>inCashInformationSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DiscountInput</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Desconto %</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Insira o valor do desconto. Exemplo: para 10%, digite 10.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>1</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;strong&gt;Reduza o desconto de {!DiscountInput}%. &lt;/strong&gt;O preço final não pode ser menor que &lt;strong&gt;{!proposedSalePriceMinimum}&lt;/strong&gt;. (Atual: {!discountedPrice}).&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!isDiscountEligible}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Tipo_de_Pagamento</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>À Vista</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Proposta Formal</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausar Fluxo</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>DefinicaoFinaceira</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>formalProposalCashPaymentScreen</name>
        <label>Proposta Formal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Definição Financeira</backButtonLabel>
        <connector>
            <targetReference>AssignFinalValuesToOpportunityAndVehicleInCashScreen</targetReference>
        </connector>
        <fields>
            <name>formalPropostalCashPaymentTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Parabéns! Sua compra está prestes a ser concluída.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Segue abaixo os detalhes da sua compra com base nas informações que você nos forneceu ao decorrer desse fluxo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>formalPropostalCashPaymentText</name>
            <fieldText>&lt;h3&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Condições de Pagamento&lt;/span&gt;&lt;/h3&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Método Escolhido:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Tipo_de_Pagamento}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Valor:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!proposedValueCurrencyInput}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Valor Total com Desconto:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!discountedPrice}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AceitarPropostaInCash</name>
            <choiceReferences>ProposalAccepted</choiceReferences>
            <choiceReferences>ProposalRejected</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Aceitar Proposta</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finalizar Venda</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausar o Fluxo</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>PropostaFormal</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>formalProposalFinancingScreen</name>
        <label>Proposta Formal</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Definição Financeira</backButtonLabel>
        <connector>
            <targetReference>AssignFinalValuesToOpportunityRecord</targetReference>
        </connector>
        <fields>
            <name>financingTitleText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Parabéns! Seu financiamento está prestes a concluir.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Segue abaixo os detalhes do seu financiamento com base nas informações que você nos forneceu ao decorrer desse fluxo.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>financingInfosText</name>
            <fieldText>&lt;h3&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Condições de Pagamento&lt;/span&gt;&lt;/h3&gt;&lt;ul&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Método Escolhido:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Tipo_de_Pagamento}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Entrada: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!DownPaymentInput}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Plano:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!financingTermInput}x&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; de &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;R$ &lt;/strong&gt;&lt;code style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;{!GetFinancingDetails.installmentValues}&lt;/strong&gt;&lt;/code&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Valor Financiado:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;R$ &lt;/strong&gt;&lt;code style=&quot;font-size: 16px;&quot;&gt;{!GetFinancingDetails.totalFinancedValue}&lt;/code&gt;&lt;/li&gt;&lt;li&gt;&lt;code style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;Valor Total (Entrada + Financiamento): {!totalPriceWithDownPayment}&lt;/strong&gt;&lt;/code&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Aceitar_Proposta</name>
            <choiceReferences>ProposalAccepted</choiceReferences>
            <choiceReferences>ProposalRejected</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Aceitar Proposta</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finalizar Venda</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausar Fluxo</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>PropostaFormal</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>priceEvaluation</name>
        <label>Avaliação de Preço</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Seleção de Veículo</backButtonLabel>
        <connector>
            <targetReference>GetExistingOpportunityVehicle</targetReference>
        </connector>
        <fields>
            <name>CarDetailsTextPriceEvaluationScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!ProductsTable.firstSelectedRow.Brand__c} {!ProductsTable.firstSelectedRow.Name} {!ProductsTable.firstSelectedRow.ModelYear__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>fipeValueCurrencyInput</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>GetCarDetailsByFipeCode.fipeReferencePrice</elementReference>
            </defaultValue>
            <fieldText>Valor FIPE</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>proposedValueCurrencyInput</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>proposedSalePriceDefault</elementReference>
            </defaultValue>
            <fieldText>Valor Proposto</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;O preço final não pode ser menor que {!proposedSalePriceMinimum} (Preço FIPE + 5%).&lt;/p&gt;</errorMessage>
                <formulaExpression>{!proposedValueCurrencyInput} &gt;=({!GetCarDetailsByFipeCode.fipeReferencePrice} * 1.05)</formulaExpression>
            </validationRule>
        </fields>
        <helpText>&lt;p&gt;Utilize o botão Pausar Fluxo para não perder o progresso&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Definição Financeira</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausar Fluxo</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>priceEvaluationStage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <description>Tela inicial de prospecção</description>
        <name>ProspectingScreen</name>
        <label>Prospecção</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignStageToSelecaoDeVeiculo</targetReference>
        </connector>
        <fields>
            <name>prospectingTitleScreen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;A seleção do veículo já pode ser iniciada&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>prospectingMessageScreen</name>
            <fieldText>&lt;p&gt;A oportunidade está na fase de prospecção, é necessário Iniciar Escolha para prosseguir.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;Utilize o botão Pausar Fluxo para não perder o progresso&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Iniciar Escolha</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>prospectingStage</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>VehicleSelectionScreen</name>
        <label>Seleção de Veículo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignStageToAvaliacaoDePreco</targetReference>
        </connector>
        <fields>
            <name>ProductsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Product2</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Tabela de Produtos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Product2&quot;,&quot;fieldReferences&quot;:[&quot;Id&quot;],&quot;elementReference&quot;:&quot;Get_Products&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Brand__c&quot;,&quot;guid&quot;:&quot;column-1815&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;sortable&quot;:true,&quot;label&quot;:&quot;Marca&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6162&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Nome&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;sortable&quot;:false,&quot;label&quot;:&quot;Product Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ModelYear__c&quot;,&quot;guid&quot;:&quot;column-1f96&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;sortable&quot;:true,&quot;label&quot;:&quot;Ano/Modelo&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Transmission__c&quot;,&quot;guid&quot;:&quot;column-3e1c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;sortable&quot;:true,&quot;label&quot;:&quot;Transmissão&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-8861&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;sortable&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnReferences</name>
                <value>
                    <complexValue>{&quot;dataType&quot;:&quot;SObject&quot;,&quot;objectType&quot;:&quot;Product2&quot;,&quot;fieldReferences&quot;:[&quot;Brand__c&quot;,&quot;Name&quot;,&quot;ModelYear__c&quot;,&quot;Transmission__c&quot;],&quot;elementReference&quot;:&quot;Get_Products&quot;}</complexValue>
                    <complexValueType>ComplexObjectFieldDetails</complexValueType>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;Utilize o botão Pausar Fluxo para não perder o progresso&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Avaliação de Preço</nextOrFinishButtonLabel>
        <pauseButtonLabel>Pausar Fluxo</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>vehicleSelectionStage</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>DefinicaoFinaceira</name>
        <isActive>true</isActive>
        <label>Definição Financeira</label>
        <stageOrder>20</stageOrder>
    </stages>
    <stages>
        <name>priceEvaluationStage</name>
        <isActive>true</isActive>
        <label>Avaliação de Preço</label>
        <stageOrder>15</stageOrder>
    </stages>
    <stages>
        <name>PropostaFormal</name>
        <isActive>true</isActive>
        <label>Proposta Formal</label>
        <stageOrder>25</stageOrder>
    </stages>
    <stages>
        <name>prospectingStage</name>
        <isActive>true</isActive>
        <label>Prospecção</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>vehicleSelectionStage</name>
        <isActive>true</isActive>
        <label>Seleção de Veículo</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunityByRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Nome final do objeto OpportunityVehicle que é criado ao decorrer do fluxo através da varíavel newOpportunityVehicle</description>
        <name>opportunityVehicleName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!ProductsTable.firstSelectedRow.Brand__c} {!ProductsTable.firstSelectedRow.Name} {!ProductsTable.firstSelectedRow.ModelYear__c}</text>
    </textTemplates>
    <variables>
        <name>newOpportunityVehicle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityVehicle__c</objectType>
    </variables>
    <variables>
        <description>Variável que armazena a oportunidade do fluxo</description>
        <name>opportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Esta variável recebe o id do registro da página em que se encontra</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
